# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
g_key = "AIzaSyBvZu5sZ8SutdBxqsRjZr3SDrVo_s5jXUI"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv('../output_data/weather_data.csv')
weather_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Guerrero Negro,27.9769,-114.0611,289.80,77,84,7.29,MX,1612410958
1,1,Ushuaia,-54.8000,-68.3000,282.15,87,75,3.09,AR,1612410934
2,2,Opuwo,-18.0607,13.8400,293.19,41,76,1.60,NaN,1612410958
3,3,Lüderitz,-26.6481,15.1594,291.31,70,0,6.10,NaN,1612410800
4,4,Busselton,-33.6500,115.3333,295.93,42,0,1.34,AU,1612410832

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)
locations = weather_df[['Lat', 'Lng']]
weight = weather_df['Humidity'].astype(float)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
weather_df = weather_df[weather_df['Cloudiness'] == 0]
weather_df.dropna(inplace=True)
weather_df

<ipython-input-8-f64d506ebef1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df.dropna(inplace=True)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Busselton,-33.6500,115.3333,295.93,42,0,1.34,AU,1612410832
6,6,Punta Arenas,-53.1500,-70.9167,286.15,82,0,5.66,CL,1612410948
11,11,Zhangjiakou Shi Xuanhua Qu,40.6103,115.0447,273.89,58,0,2.89,CN,1612410959
18,18,Seoul,37.5683,126.9778,271.15,26,0,1.03,KR,1612410232
22,22,Mataura,-46.1927,168.8643,291.11,38,0,3.79,NZ,1612410960
...,...,...,...,...,...,...,...,...,...,...
562,562,Paamiut,61.9940,-49.6678,261.27,72,0,2.68,GL,1612411028
563,563,Ţahţā,26.7693,31.5021,286.15,50,0,4.63,EG,1612411028
572,572,Marzuq,14.4000,46.4667,286.65,36,0,1.01,YE,1612411029
576,576,Ban Nahin,18.2418,104.2122,302.59,41,0,0.49,LA,1612411030
581,581,Vallenar,-28.5708,-70.7581,291.46,53,0,0.58,CL,1612411030

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
hotel_df = weather_df.copy()

In [21]:
hotel_df['Hotel Name'] = ''
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
4,4,Busselton,-33.6500,115.3333,295.93,42,0,1.34,AU,1612410832,
6,6,Punta Arenas,-53.1500,-70.9167,286.15,82,0,5.66,CL,1612410948,
11,11,Zhangjiakou Shi Xuanhua Qu,40.6103,115.0447,273.89,58,0,2.89,CN,1612410959,
18,18,Seoul,37.5683,126.9778,271.15,26,0,1.03,KR,1612410232,
22,22,Mataura,-46.1927,168.8643,291.11,38,0,3.79,NZ,1612410960,
...,...,...,...,...,...,...,...,...,...,...,...
562,562,Paamiut,61.9940,-49.6678,261.27,72,0,2.68,GL,1612411028,
563,563,Ţahţā,26.7693,31.5021,286.15,50,0,4.63,EG,1612411028,
572,572,Marzuq,14.4000,46.4667,286.65,36,0,1.01,YE,1612411029,
576,576,Ban Nahin,18.2418,104.2122,302.59,41,0,0.49,LA,1612411030,
581,581,Vallenar,-28.5708,-70.7581,291.46,53,0,0.58,CL,1612411030,

In [35]:
# geocoordinates
for index, row in hotel_df.iterrows():    
    try:
        target_coordinates = str(row["Lat"]) + ', ' + str(row['Lng'])
        target_search = "Hotel"
        target_radius = 5000
        target_type = "lodging"

        # set up a parameters dictionary
        params = {
            "location": target_coordinates,
            "keyword": target_search,
            "radius": target_radius,
            "type": target_type,
            "key": g_key
        }

        # base url
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        # run a request using our params dictionary
        response = requests.get(base_url, params=params)
        name = response.json()['results'][0]['name']
        hotel_df.at[index, 'Hotel Name'] = name
    except:
        pass
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
4,4,Busselton,-33.6500,115.3333,295.93,42,0,1.34,AU,1612410832,The Sebel Busselton
6,6,Punta Arenas,-53.1500,-70.9167,286.15,82,0,5.66,CL,1612410948,Hotel Cabo de Hornos
11,11,Zhangjiakou Shi Xuanhua Qu,40.6103,115.0447,273.89,58,0,2.89,CN,1612410959,Jinjiang Inn
18,18,Seoul,37.5683,126.9778,271.15,26,0,1.03,KR,1612410232,Namsan Gil House
22,22,Mataura,-46.1927,168.8643,291.11,38,0,3.79,NZ,1612410960,Falls Hotel
...,...,...,...,...,...,...,...,...,...,...,...
562,562,Paamiut,61.9940,-49.6678,261.27,72,0,2.68,GL,1612411028,Hotel Ivaana
563,563,Ţahţā,26.7693,31.5021,286.15,50,0,4.63,EG,1612411028,El Salam Hotel
572,572,Marzuq,14.4000,46.4667,286.65,36,0,1.01,YE,1612411029,<Response [200]>
576,576,Ban Nahin,18.2418,104.2122,302.59,41,0,0.49,LA,1612411030,<Response [200]>
581,581,Vallenar,-28.5708,-70.7581,291.46,53,0,0.58,CL,1612411030,Hotel Solaris

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure